[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
pygments = "*"
pronounceable = "*"
aioredis = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3"
