@charset "UTF-8";

:root {
    --fontsz: 16;
    --codefnt: 1rem/1.4 "Roboto Mono", monospace, "Noto Color Emoji";
    --tabsz: 3.7ch;  /* Slightly less than four spaces to b0rk invalid indentation */
    --tab-color: #8884;
    --lineno-margin: 4ch;
    --lineno-color: #8886;
    --lineno-highlight: #fc3;
}
/* Printing styles */
:root {
    --site-highlight: #fc3;
    --site-color: black;
    --site-background: none;
    --comment: grey;
    --number: #9a4;
    --string: #860;
    --regex: #c60;
    --operator: #888;
    --attribute: #CE9178;
    --keyword: #28c;
}
@media screen {
    :root {
        --site-highlight: #fc3;
        --site-color: white;
        --site-background: #444;
        --background: #222;
        --text: #ccc;
        --comment: #6A9955;
        --keyword: #569cd6;
        --number: #b5cea8;
        --string: #ce9178;
        --regex: #d16969;
        --variable: #9cdcfe;
        --variable2: inherit;
        --defname: #DCDCAA;
        --qualifier: #d7ba7d;
        --operator: #888;
        --attribute: #CE9178;
        --meta: #c586c0;
        --bracket: #888;
    }
    /* Dashed-underline errors; wavy doesn't work too well in Chrome */
    .cm-s-default span.cm-error, .highlight .err { text-decoration: underline dashed red; }
}
.highlight code, .CodeMirror, textarea {
    color: var(--text);
    background: var(--background);
    border-radius: 0.2em;
}

.cm-s-default div.CodeMirror-selected { background: #264f78; }

.cm-s-default .CodeMirror-gutters {
	background: #34302f;
	border-right: 0px;
	padding: 0 3px;
}

.cm-s-default span.cm-comment, .highlight .c, .highlight .c1 { color: var(--comment); }
.cm-s-default span.cm-number, .highlight .mf, .highlight .mi, .highlight .mh, .highlight .kt { color: var(--number); }
.cm-s-default span.cm-keyword, .cm-s-default span.cm-atom, .highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kn, .highlight .kr, .highlight .ow  { color: var(--keyword); font-weight: bold; }
.cm-s-default span.cm-string, .highlight .s, .highlight .s1, .highlight .s2, .highlight .sd { color: var(--string); }
.cm-s-default span.cm-string-2, .highlight .sr { color: var(--regex); }

.cm-s-default span.cm-variable, .cm-s-default span.cm-property, .highlight .n, .highlight .na, .highlight .nb { color: var(--variable); }
.cm-s-default span.cm-variable-3, .cm-s-default span.cm-type { color: var(--variable2); }
.cm-s-default span.cm-def, .cm-s-default span.cm-callee, .cm-s-default span.cm-variable-2, .highlight .bp, .highlight .fm, .highlight .nd, .highlight .nf { color:var(--defname); }
.cm-s-default span.cm-tag, .highlight .nt, .highlight .ni { color: var(--keyword); }
.cm-s-default span.cm-qualifier, .cm-s-default span.cm-builtin, .highlight .nc, .highlight .nn { color: var(--qualifier); }
.cm-s-default span.cm-attribute { color: var(--variable); }
.cm-s-default span.cm-meta, .highlight .cp { color: var(--meta); }

.cm-s-default span.cm-operator, .highlight .o, .highlight .p { font-weight: bold; color: var(--operator); }

.cm-s-default .CodeMirror-linenumber { color: var(--lineno-color); }
.cm-s-default .CodeMirror-cursor { border-left: 1px solid var(--text); }
.cm-s-default span.cm-bracket { color: var(--bracket); font-weight: bold; }

/* Code view */
.highlight { padding-left: var(--lineno-margin); width: 100%; }
.highlight code {
    width: 100%;
    padding: 0.3em;
    border-radius: 0.2em;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block;
}
/* Line numbers */
.highlight .line::before {
    content: attr(id);
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: right;
    padding-right: 0.2em;
    box-sizing: border-box;
    width: var(--lineno-margin);
    color: var(--lineno-color);
    white-space: nowrap;
}
.cm-s-default .CodeMirror-gutter-elt { padding: 0; width: var(--lineno-margin); box-sizing: border-box; }
.cm-s-default .CodeMirror-gutters { padding: 0; background: #444; }
.cm-s-default .CodeMirror-linenumber { padding-right: 0.2em; }
/*.CodeMirror-linenumber, .highlight .line { font: var(--codefnt); }*/
.highlight .line:target::before { font-weight: bold; color: var(--lineno-highlight); }
/* Code editor */
textarea, .CodeMirror {
    width: 100%;
    min-height: 80vh;
    font: var(--codefnt);
}
/* Visible tabs in codemirror */
.cm-tab { font-size: 0; }
.cm-tab::before {
    display: inline-block;
    width: var(--tabsz);
    font-size: 1.0rem;
    color: var(--tab-color);
    content: "⟼";
    border-right: 1px solid var(--tab-color);
}
code, textarea { font: var(--codefnt); tab-size: var(--tabsz); }
textarea { padding: 0.3em; border: none; }
code a { text-decoration: none; color: inherit; }
code a:hover { text-decoration: underline; }

@media print {
    .highlight .line::before {
        font-size: 0.9rem;  /* Workaround some b0rkage with page feeds in Chrome */
    }
    .highlight code {
        border-left: 0.5pt solid var(--lineno-color);
        border-radius: 0;
    }
    .cm-s-default .CodeMirror-gutters { display: none; }
}
