@charset "UTF-8";
:root {
    --fontsz: 16;
    --codefnt: 1rem/1.3 "Roboto Mono", monospace, "Noto Color Emoji";
    --tabsz: 3.141592ch;  /* Slightly less than four spaces to b0rk invalid indentation */
    --lineno-margin: 4ch;
}
/* Minimal CSS reset */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box; }
/* Root font size is default (16px) for 960-1920px and scales proportionally outside this range */
html { font-size: calc(var(--fontsz) * 1px); white-space: pre-wrap; }
@media(max-width: 960px) { html { font-size: calc(var(--fontsz) / 960 * 100vw); } }
@media(min-width: 1920px) { html { font-size: calc(var(--fontsz) / 1920 * 100vw); } }
body { background: #444; color: #fc3; font: var(--codefnt); }
#new { background-image: url("paste.png"); }
#open { background-image: url("open.png"); }
#upload { background-image: url("upload.png"); }
#copy { background-image: url("copy.png"); }
#dl { background-image: url("dl.png"); }
#edit { background-image: url("edit.png"); }
footer { color: #666; text-align: justify; padding: 1rem; }
footer a { color: #fc3; font-weight: bold; }
::placeholder { color: #666; }
header { transition: all 100ms; }
header [role="button"]:hover, header [role="button"]:focus-within { transform: scale(1.2); outline: none; }
.shake { transform: scale(1.2) translate(0, 0.1em); }
header { display: flex; align-items: center; }
header [role="button"] { width: 4rem; height: 4rem; background-position: 50%; background-size: 3rem 3rem; background-repeat: no-repeat; }
textarea, .CodeMirror {
    width: 100vw;
    min-height: 80vh;
    font: var(--codefnt);
    background:
}
h1 {
    display: inline; font-size: 1rem;
}
header input[type="file"], input[type="submit"] { position: absolute; width: 0.1px; height: 0.1px; margin-top: -1000vh; }
#paste_id::before { content: "Save as: "; }
#paste_id { width: 20em; font: var(--codefnt); border: none; border-radius: 3px; padding: 3px; color: #fc3; background: black; }
.highlight { padding-left: var(--lineno-margin); padding-right: 1em; width: 100vw; }
.highlight pre {
    width: 100%;
    border-left: 1px solid #8888;
    padding: 0.3em;
    counter-reset: line;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block;
    font-family: var(--codefnt);
}
/* Line numbers in /view */
.highlight a::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: right;
    padding-right: 0.2em;
    box-sizing: border-box;
    width: var(--lineno-margin);
    color: #999;
    white-space: nowrap;
}
#notify {
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px black;
}
/* Remove some cruft when printing */
@media print {
    @page { margin: 2cm 1cm; }
    html { font-size: 10pt; }
    body { background: none; }
    h1 { font-size: 2rem; color: black; text-align: center; width: 100vw; }
    header a, header label, header input, footer, #notify { display: none; }
    .highlight a::before {
        font-size: 0.9rem;  /* Workaround some b0rkage with page feeds in Chrome */
    }
}
/* Visible tabs in codemirror */
.cm-tab { font-size: 0; }
.cm-tab::before {
    display: inline-block;
    width: var(--tabsz);
    font-size: 1rem;
    color: #eee;
    content: "⟼";
    border-right: 1px solid #eee;
}
pre, textarea { tab-size: var(--tabsz); }
/* Override base theme for editor and also specify for plain textarea */
textarea, .cm-s-pastel-on-dark.CodeMirror {
	background: #222;
    color: #888;
    border: none;
}
